body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .home-text {
    margin-top: 0 !important;
  }
  
  .App {
    font-family: sans-serif !important;
    text-align: center !important;
  }
 /*  body {
    background-color: darkviolet !important;
  } */
  #submit {
    background-color: limegreen !important;
  }
  
  .jumbotron {
    margin-top: 50px !important;
    background-color: snow !important;
  }
  .card {
    margin-left: 25px !important;
    margin-right: 25px !important;
    background-color: orchid !important;
  }
  
  hr {
    width: 70% !important;
  }
  
  .form-head {
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
  }
  